:root {
  --primary: #006565;
  --bg: #f7faf9;
  --text: #181c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: relative;
}

.logo {
  font-family: 'Manrope';
  font-weight: 700;
}

/* NAV LINKS DESKTOP */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
}

/* BOTÓN */
.btn-primary {
  padding: 8px 14px;
  border: none;
  border-radius: 20px;
  background: var(--primary);
  color: white;
  cursor: pointer;
}

/* HAMBURGUESA */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* HERO */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px;
  align-items: center;
}

.hero-img img {
  width: 100%;
  border-radius: 20px;
}

/* ======================
   MOBILE
====================== */
@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .btn-primary {
    display: none;
  }

  .nav-links {
    display: none;
    flex-direction: column;

    position: absolute;
    top: 70px;
    right: 20px;

    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 200px;
  }

  .nav-links.active {
    display: flex;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 30px;
    text-align: center;
  }
}